.contact-wrapper {
  background-image: url(../images/contact.jpeg);
  background-size: cover;
  height: 110vh;
  margin: 0;
  position: relative;
  bottom: 4rem;
  z-index: 2;
}

.form-wrapper {
  padding: 25%;
  color: white;
  width: 100vh;
  z-index: 10000000;
}
